@use "../scss/custom"
@use "theme"

@mixin active-link 
  color: custom.$link-color
  font-weight: bold
  text-decoration: none
  
nav.primary_menu
  a
      font-size: 16px

  li
    list-style-type: none

    &.active
     @include active-link
  
  &.return
    a 
      width: auto