@use "../scss/custom"
@use "theme"

@mixin active-link 
  color: custom.$link-color
  font-weight: bold
  text-decoration: none
  
nav 
  a
    display: block
    width: 100%

  li
    list-style-type: none

    &.active
     @include active-link
     
h2
  color: theme.$link-color
  font-weight: 500

h3
  color: theme.$summary-text-color
  font-weight: 600