@use "theme"
@use "wbs"
@use "form"
@use "header"
@use "navigation"
@use "project"
@use "history"

p, span, h1, h2, h3, h4, h5 
  cursor: default

.part
  padding-top: 20px

  &_left
    width: 25%
    margin: 0px
  
  &_right
    margin: 0px 3% 0px 2%
    width: 70%
    
  &_bar_right
    width: 20%
  
  &_center
    width: 50%
    