@use "theme"

h2 
  .wbs &
    font-size: 16px
    font-weight: bold

h1 
 .wbs &
    font-weight: bold
    font-size: 16px

.wbs 
  .btn-new
    @extend .btn-simple
  
  .page_nav
    display: flex
    justify-content: center

.deliverable
  margin: 0px
  
  &.summary
    padding: 15px
      
    .indicator
      .title
        color: theme.$title-emphasis-color
        font-weight: 600
    
    .actions
      
      .btn
        width: 45%
        
        
table

  td, th
    font-size: 14px
    
  th
    color: theme.$title-color

  td
    font-weight: bold
    color: rgb(005, 005, 005)
    
    &.cost
      text-align: right
      
    &.title
      min-width: 250px
        
      
