<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project WBS</title>
  <meta charset="utf-8"/>
  <!--[if IE ]>
      <link href="css/iecss.css" rel="stylesheet" type="text/css">
  <![endif]-->
</head>
<body>
  <form>
    <div class="">
        <label for="startDate"
          id="startDateLabel"
          tabindex="-1">Start date <span class="req">*<span>(required)</span></span></label>
        <span>
            <input type="date" 
                class="form-control me-3"
                id="startDate"
                required aria-required="true"
                aria-labelledby="startDateLabel startDateFormat">
            <span class="visually-hidden" 
              id="startDateFormat" 
              tabindex="-1">DD/MM/YYYY</span>
        </span>
      </div>
  </form>
<script src="AJAXHTTP.js"></script>
</body>
</html>