            <form class="row g-0 border deliverable p-3 pb-4 d-none">
              <div class="col-6 pe-4">
                 <div class="mb-3">
                    <label for="title" 
                        class="form-label">Title</label>
                    <input type="email" 
                        class="form-control" 
                        id="title">
                  </div>
                  <div class="d-flex h-50 justify-content-between align-items-end">
                    <div class="field w-25">
                      <label for="cost" 
                        class="form-label">Cost</label>
                      <input type="text" 
                        class="form-control" 
                        id="cost">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" 
                          class="form-check-input" 
                          id="finishDate">
                        <label 
                          class="form-check-label" 
                          for="finishDate">Package</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" 
                          class="form-check-input" 
                          id="finishDate">
                        <label 
                          class="form-check-label" 
                          for="finishDate">Milestone</label>
                      </div>
                </div>
              </div>
              <div class="col-4 pe-4">
                <div class="field full_date h-50">
                    <label for="startDate" 
                      class="form-label">Start date</label>
                    
                    <div class="d-flex align-items-end justify-content-between">
                      <input type="text" 
                            class="form-control me-3 day" 
                            id="startDate"
                            maxlength="2" />
                        <select class="form-select me-3 month">
                          <option selected value="0">January</option>
                          <option value="1">February</option>
                          <option value="2">March</option>
                          <option value="3">April</option>
                          <option value="4">May</option>
                          <option value="5">June</option>
                          <option value="6">July</option>
                          <option value="7">August</option>
                          <option value="8">September</option>
                          <option value="9">October</option>
                          <option value="10">November</option>
                          <option value="11">December</option>
                        </select>
                        <input type="text" 
                            class="form-control year"
                            maxlength="4">
                    </div>
                </div>

                <div class="field full_date h-50">
                  <label for="finishDate" 
                    class="form-label">Finish date</label>                      
                    
                    <div class="d-flex align-items-end justify-content-between">
                      <input type="text" 
                            class="form-control me-3 day" 
                            id="startDate"
                            maxlength="2" />
                        <select class="form-select me-3 month">
                          <option selected value="0">January</option>
                          <option value="1">February</option>
                          <option value="2">March</option>
                          <option value="3">April</option>
                          <option value="4">May</option>
                          <option value="5">June</option>
                          <option value="6">July</option>
                          <option value="7">August</option>
                          <option value="8">September</option>
                          <option value="9">October</option>
                          <option value="10">November</option>
                          <option value="11">December</option>
                        </select>
                        <input type="text" 
                            class="form-control year"
                            maxlength="4">
                    </div>
                </div>
              </div>
              <div class="col-2">
                <div class="h-100 d-flex align-items-end justify-content-end">
                  <button type="submit" class="btn btn-primary w-75">Save</button>
                </div> 
              </div>
            </form>