<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project WBS</title>
</head>
<body>
  <div class="dashboard d-flex justify-content-between align-items-center border-bottom">
    <nav aria-label="breadcrumb" class="top_breadcrumbs">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="text-uppercase">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Projects</a></li>
        <li class="breadcrumb-item"><a href="#">Beadshine</a></li>
        <li class="breadcrumb-item active" aria-current="page">WBS</li>
      </ul>
    </nav>
  </div>
  
  <div class="wbs_structure d-none">
    <nav>
      <ul>
        <li><a href="">Prototype</a></li>
        <li><a href="">Web-based prototypes</a></li>
        <li><a href="">Back-end realization</a></li>
        <li class="active">Front-end realization</li>
      </ul>
    </nav>
  </div>
<script src="AJAXHTTP.js"></script>
</body>