<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project WBS</title>
  <meta charset="utf-8"/>
  <!--[if IE ]>
      <link href="css/iecss.css" rel="stylesheet" type="text/css">
  <![endif]-->
</head>
<body>
<div class="deliverbale new">
  <h2>New deliverable</h2>
    <form>
      <div class="pb-4">
        <div class="mb-3">
            <label for="title" 
                class="form-label">Title <span class="req">*<span>(required)</span></span></label>
            <input type="text" 
                class="form-control" 
                id="title"
                required aria-required="true">
        </div>
        
        <div class="mb-3">
            <label for="startDate"
              id="startDateLabel"
              tabindex="-1">End date</label>
            <span>
                <input type="date" 
                    class="form-control me-3"
                    id="startDate"
                    required aria-required="true"
                    aria-labelledby="startDateLabel startDateFormat">
                <span class="visually-hidden" 
                  id="startDateFormat" 
                  tabindex="-1">DD/MM/YYYY</span>
            </span>
        </div>
        
        <div class="mb-3">
            <label for="endDate"
              id="endDateLabel"
              tabindex="-1">Start date</label>
            <span>
                <input type="date" 
                    class="form-control me-3"
                    id="endDate"
                    required aria-required="true"
                    aria-labelledby="endDateLabel endDateFormat">
                <span class="visually-hidden" 
                  id="endDateFormat" 
                  tabindex="-1">DD/MM/YYYY</span>
            </span>
        </div>
        
        <div class="field mb-3 w-50">
          <label for="cost" 
            class="form-label">Cost</label>
          <input type="text" 
            class="form-control" 
            id="cost">
        </div>
          
          <div class="form-check mb-3">
            <input type="checkbox" 
              class="form-check-input" 
              id="isMilestone">
            <label 
              class="form-check-label" 
              for="isMilestone">Milestone</label>
          </div>
          
          <div class="form-check">
            <input type="checkbox" 
              class="form-check-input" 
              id="isPackage">
            <label 
              class="form-check-label" 
              for="isPackage">Package</label>
          </div>
      </div>
      
      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary w-50">Create</button>
      </div> 
    </form>
</div>
<script src="AJAXHTTP.js"></script>
</body>
</html>