// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-color: rgba(24, 73, 21);

$top_height: 55px;
$text_color: #707070;
$h1-font-size: 20px;
$h2-font-size: 20px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;
// scss-docs-end font-variables

$secondary: #caad5c;
$primary: #5CCA96;

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$headings-font-weight:  700;

$input-btn-line-height: 1;
$input-btn-padding-y: 5px;

$btn-white-space: nowrap;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here
$summary-text-color: rgba(196,41,41,1);
$current-text-color: rgba(224,31,31,1);

h3{
  color: $summary-text-color;
  font-weight: 600;
}
  
h4{
  color: $text_color;
  font-weight: 600;
}
  