<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project WBS</title>
  <meta charset="utf-8"/>
</head>
<body>
  <div class="tagline px-5 d-flex border-bottom align-items-center justify-content-between">
    <div>LOGOTYPE</div>
    <div>Tagline</div>
  </div>
   
    <nav class="primary_menu py-3 px-5">
        <a href="#" class="text-uppercase fw-bold">Dashboard</a>
        <a href="projects.html"
            class="text-uppercase fw-bold">Projects</a>
        <a href="#"
            class="text-uppercase fw-bold">Administration</a>
       <a href="#"
            class="text-uppercase fw-bold">Accountancy</a>
       <a href="#"
            class="text-uppercase fw-bold">Personal</a>
    </nav>
    
     <h1 class="ms-5 lh-1">Work breakdown structure</h1>
     
       <div class="px-5 d-flex justify-content-between w-100 project wbs">

           <div class="part_left  align-self-start mb-auto">
            
              <div class="deliverable new border p-3" 
                    id="add-deliverable">
                    <h2>Add deliverable</h2>
                    <form action="wbs.html">
                        <div class="pb-4">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title
                                    <span class="req">*<span>(required)</span></span>
                                </label> <input type="text" class="form-control"
                                    id="title" required aria-required="true">
                            </div>

                            <div class="mb-3">
                                <label for="startDate" id="startDateLabel"
                                    tabindex="-1">End date</label> <span>
                                    <input type="date" class="form-control me-3"
                                    id="startDate" required aria-required="true"
                                    aria-labelledby="startDateLabel startDateFormat">
                                    <span class="visually-hidden"
                                    id="startDateFormat" tabindex="-1">DD/MM/YYYY</span>
                                </span>
                            </div>

                            <div class="mb-3">
                                <label for="endDate" id="endDateLabel"
                                    tabindex="-1">Start date</label> <span>
                                    <input type="date" class="form-control me-3"
                                    id="endDate" required aria-required="true"
                                    aria-labelledby="endDateLabel endDateFormat">
                                    <span class="visually-hidden"
                                    id="endDateFormat" tabindex="-1">DD/MM/YYYY</span>
                                </span>
                            </div>

                            <div class="field mb-3 w-50">
                                <label for="cost" class="form-label">Cost</label>
                                <input type="text" class="form-control"
                                    id="cost">
                            </div>

                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input"
                                    id="isMilestone"> <label
                                    class="form-check-label" for="isMilestone">Milestone</label>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                    id="isPackage"> <label
                                    class="form-check-label" for="isPackage">Package</label>
                            </div>
                        </div>

                        <div class="mt-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary w-50">Create</button>
                        </div>
                    </form>
                  </div>
            </div>

            <div class="part_right">

              
                 <table class="table border">
                      <caption class="visually-hidden">Work Breakdown structure</caption>
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Title</th>
                          <th scope="col">Start date (dd/mm/yy)</th>
                          <th scope="col">Finish date (dd/mm/yy)</th>
                          <th scope="col">Cost ($)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"></th>
                          <td><a href="#"></a></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
            </div>
        </main>
  </div>
</body>
</html>